.rectangleOff
{
	border-radius: 5px;
	background-color: green;
	border: 1px solid black;
	position: absolute;
	/* These transitions are supposed to change the color in case I hover over the button */
	-webkit-transition: background 0.5s,color 0.5s;
	-moz-transition: background 0.5s,color 0.5s;
	transition: background 0.5s,color 0.5s;
}

.rectangleOn
{
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
	position: absolute;
	/* These transitions are supposed to change the color in case I hover over the button */
	-webkit-transition: background 0.5s,color 0.5s;
	-moz-transition: background 0.5s,color 0.5s;
	transition: background 0.5s,color 0.5s;
}

#flipperGrid
{
	position:fixed;
	top: 50%;
	left: 50%;
	border: 1px solid red;
}